%section.main_page
  .row
    .col-md-4.col-md-offset-1
      /
        .row.top-row
          .col-md-12
            %p= "Data Freshness: #{time_ago_in_words Projection.freshness if Projection.freshness} old."
      = form_tag(players_generate_lineup_path, method: :post) do
        .row
          .col-md-12
            %h1.title Optimize Lineup
            %hr
        .row
        /
          .col-xs-12
            .form-group.row
              = label_tag "input1", "Input Num 1", class: "col-sm-4 form-control-label"
              .col-sm-8
                = text_field_tag "input3", nil, placeholder: 'options...', class: "form-control"
            .form-group.row
              = label_tag "input2", "Input Num 2", class: "col-sm-4 form-control-label"
              .col-sm-8
                = text_field_tag "input3", nil, placeholder: 'options...', class: "form-control"
            .form-group.row
              = label_tag "input3", "Input Num 3", class: "col-sm-4 form-control-label"
              .col-sm-8
                = text_field_tag "input3", nil, placeholder: 'options...', class: "form-control"
        .row
          .col-md-12
            %fieldset.form-group
              %label(for="week") Week
              =select_tag :week, options_for_select([9,10,11,12,13,14,15,16,17]), class: "form-control"
        .row
          .col-md-12
            %fieldset.form-group
              %label(for="type") Lineup Type
              =select_tag :type, options_for_select(["optimal","ceiling","floor"]), class: "form-control"
        .row
          .col-md-12
            %label.radio-inline
              = radio_button_tag :platform, :fanduel, true
              Fanduel
            %label.radio-inline
              = radio_button_tag :platform, :draftkings
              Draftkings
            %label.radio-inline
              = radio_button_tag :platform, :yahoo
              Yahoo
        .row.btn-row
          .col-md-4
            =button_to "Get Lineup", players_generate_lineup_path, class: "btn btn-success"
    .col-md-6
      - if @lineup
        %h2= "#{@platform.capitalize} Optimal Lineup"
        %br
        %table.table
          %thead.thead-inverse
            %tr
              %th Pos
              %th Player
              %th Projection
              %th Floor
              %th Ceiling
              %th Team
              %th Salary
          %tbody
            - @lineup.each do |player|
              %tr
                %td= player[:position]
                %td= player[:name]
                %td= player[:projection].average
                %td= player[:projection].min
                %td= player[:projection].max
                %td= player[:team]
                %td= number_to_currency(player[:projection].salary, precision: 0)
            %tr
              %td Total
              %td
              %td= number_with_precision(@proj_total, precision: 2)
              %td= number_with_precision(@min_total, precision: 2)
              %td= number_with_precision(@max_total, precision: 2)
              %td
              %td= number_to_currency(@salary_total, precision: 0)
      - else
        %p How it works:
        %p Using the projections from FantasyFootballNerd.com, this tool will generate the best possible lineup for each of the three main Daily Fantasy Football sites. Just choose from the options to the left and hit 'Get Lineup.'
        %p Enjoy!
